@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

*,
*::before,
* ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primaryClr1--200: hsl(75, 94%, 57%);
	--neutralClr1--100: hsl(0, 0%, 100%);
	--neutralClr2--700: hsl(0, 0%, 20%);
	--neutralClr3--800: hsl(0, 0%, 12%);
	--neutralClr4--900: hsl(0, 0%, 8%);
	font-family: "Inter", sans-serif;
	font-size: 14px;
	--fw--regular: 400;
	--fw--semibold: 600;
	--fw--bold: 800;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--neutralClr4--900);
	color: var(--neutralClr1--100);
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 380px;
	min-height: 610px;
	background-color: var(--neutralClr3--800);
	padding: 2.5rem;
	padding-top: 2rem;
	gap: 0.9rem;
	border-radius: 0.8rem;
}
img {
	border-radius: 50%;
	width: 85px;
	height: 85px;
	margin: 0 auto;
}
h1 {
	font-size: 1.6rem;
	font-weight: var(--fw--semibold);
	margin-top: 1rem;
	margin-bottom: 1rem;
	align-content: flex-start;
}
h2 {
	color: var(--primaryClr1--200);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
p {
	font-weight: 400;
	padding-bottom: 1rem;
	color: hsla(0, 0%, 100%, 0.8);
}
.card-info div {
	justify-content: center;
}

.socials {
	color: var(--neutralClr1--100);
	text-decoration: none;
	background-color: var(--neutralClr2--700);
	width: 304px;
	margin-bottom: 0.3rem;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 1rem;
	font-weight: var(--fw--semibold);
}

button {
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: hsl(75, 94%, 57%);
	color: hsl(0, 0%, 12%);
}

/* -------------MEDIA----------------- */

@media only screen and (max-width: 375px) {
	body {
		margin-top: 7.5rem;
		padding: 0px;
	}
	.card {
		width: 310px;
		padding: 0px 5px 0px 7px;
		padding-top: 0.8rem;
		text-align: center;
	}
	h1 {
		font-weight: 400;
		font-size: 1.7rem;
		margin-bottom: 0.8rem;
	}

	.socials {
		width: 276px;
		font-size: 1rem;
	}
}
